<!DOCTYPE HTML>
<html lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="public/styles/base.css">

  <title>Aegis | Editor</title>
</head>
<body class="bg-gray-700 w-screen h-screen text-white">
  <!-- Vertical navigation bar -->
  <nav>
    <div class="cases">
      <svg class="map" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="m21.447 6.105-6-3a1 1 0 0 0-.895 0L9 5.882 3.447 3.105A1 1 0 0 0 2 4v13c0 .379.214.725.553.895l6 3a1 1 0 0 0 .895 0L15 18.118l5.553 2.776a.992.992 0 0 0 .972-.043c.295-.183.475-.504.475-.851V7c0-.379-.214-.725-.553-.895zM10 7.618l4-2v10.764l-4 2V7.618zm-6-2 4 2v10.764l-4-2V5.618zm16 12.764-4-2V5.618l4 2v10.764z"></path>
      </svg>
      <svg class="technology_tree" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M20 13.01h-7V10h1c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2h-4c-1.103 0-2 .897-2 2v4c0 1.103.897 2 2 2h1v3.01H4V18H3v4h4v-4H6v-2.99h5V18h-1v4h4v-4h-1v-2.99h5V18h-1v4h4v-4h-1v-4.99zM10 8V4h4l.002 4H10z"></path>
      </svg>
    </div>
    <a class="mt-auto mx-auto underline text-center text-gray-200"
       target="_blank"
       href="https://github.com/chamallow-team/Aegis-server">Github ❤️</a>
  </nav>
  <div id="container">
    <section class="container selected" id="map">
      <!-- Flying box -->

      <div class="flying_box open" style="--w: 300px; --t: 50px; --l: 200px;">
        <div class="head">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: currentColor;"><path d="m6.293 13.293 1.414 1.414L12 10.414l4.293 4.293 1.414-1.414L12 7.586z"></path></svg>
          <p>Title</p>
        </div>
        <div class="body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>


    </section>
    <section class="container" id="technology_tree">Technology Tree</section>
  </div>
  <script src="public/scripts/main.js" type="module"></script>
</body>
</html>
