@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  color: #fff;
  background: #1f2937;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: hidden;
}
nav {
  background: #111827;
  z-index: 1000;
  height: 100vh;
  width: 5em;
  display: flex;
  flex-direction: column;
}
nav .cases {
  width: 100%;
  height: calc(100% - 2em);
  display: flex;
  flex-direction: column;
}
nav .cases svg {
  fill: #cbd5e1;
  width: 60%;
  height: auto;
  margin: 5px auto;
  padding: 5px;
  border: transparent solid 3px;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
}
nav .cases svg:hover {
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.05s ease-in-out;
  border-color: #374151;
  border-radius: 7px;
}
nav a {
  margin: auto auto 10px auto;
  text-align: center;
  font-size: 0.9em;
  text-decoration: none;
  color: #d42741;
  font-weight: 500;
}
.field {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}
.field label {
  font-size: 0.9em;
  font-weight: 200;
}
.field select {
  background: #374151;
  color: #fff;
  padding: 0.5em 2.5em 0.5em 0.5em;
  border: none;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button;
  cursor: pointer;
}
.field select[disabled] {
  cursor: not-allowed;
  background: #374151;
  color: #6b7280;
}
.field::before,
.field::after {
  content: "";
  position: absolute;
  pointer-events: none;
}
button {
  background: #374151;
  transition: background-color 0.1s ease-in-out;
  color: #fff;
  margin: 5px;
  padding: 5px 10px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
button:hover {
  background: #1f2937;
  transition: background-color 0.1s ease-in-out;
}
#container {
  width: calc(100vw - 5em);
  height: 100vh;
}
#container .container {
  display: block;
}
#container .container:not(.selected) {
  display: none;
}
#container .container .flying_box {
  position: absolute;
  z-index: 7;
  top: var(--t, unset);
  right: var(--r, unset);
  left: var(--l, unset);
  bottom: var(--b, unset);
  max-height: 100%;
  height: var(--h, unset);
  width: var(--w, 300px);
  background: #0f172a;
  padding: 10px 10px 5px 10px;
  border-radius: 7px;
  border: 1px solid #64748b;
}
#container .container .flying_box .head {
  user-select: none;
  cursor: move;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: #4b5563 1px solid;
}
#container .container .flying_box .head p {
  margin: 10px 0 10px 10px;
  font-weight: 600;
}
#container .container .flying_box .head svg {
  transform: rotate(0deg);
}
#container .container .flying_box .body {
  margin-top: 5px;
  height: calc(100% - 2em - 20px);
  overflow-y: scroll;
}
#container .container .flying_box:not(.open) .head {
  border-color: transparent;
}
#container .container .flying_box:not(.open) .head svg {
  transform: rotate(180deg);
}
#container .container .flying_box:not(.open) .body {
  display: none;
}
#container .container .hover {
  position: absolute;
  z-index: 8;
  top: var(--t, unset);
  right: var(--r, unset);
  left: var(--l, unset);
  bottom: var(--b, unset);
  min-width: 10px;
  min-height: 10px;
  padding: 5px;
  background: #111827;
  border-radius: 7px;
}
#container .container .hover .head {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #6b7280;
}
#container .container .hover .head svg {
  height: 1.5em;
  width: auto;
}
#container .container .hover .head p {
  margin: 10px 5px;
  font-weight: 500;
}
#container .container .hover .body {
  margin: 3px;
  display: flex;
  flex-direction: column;
}
/*# sourceMappingURL=base.css.map */