@import (css) url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import 'colors';

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  color: #fff;

  background: @gray-800;
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  overflow: hidden;
}

@navbar-width: 5em;

nav {
  background: @gray-900;
  z-index: 1000;

  height: 100vh;
  width: @navbar-width;

  display: flex;
  flex-direction: column;

  .cases {
    width: 100%;
    height: calc(100% - 2em);

    display: flex;
    flex-direction: column;

    svg {
      fill: @slate-300;
      width: 60%;
      height: auto;

      margin: 5px auto;
      padding: 5px;

      border: transparent solid 3px;

      cursor: pointer;

      transition: all 0.05s ease-in-out;

      &:hover {
        background: rgba(0, 0, 0, 0.6);
        transition: all 0.05s ease-in-out;

        border-color: @gray-700;
        border-radius: 7px;
      }
    }
  }

  a {
    margin: auto auto 10px auto;
    text-align: center;

    font-size: 0.9em;
    text-decoration: none;
    color: #d42741;
    font-weight: 500;
  }
}

.field {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  margin: 5px;

  label {
    font-size: 0.9em;
    font-weight: 200;
  }

  select {
    background: @gray-700;
    color: #fff;

    padding: 0.5em 2.5em 0.5em 0.5em;

    border: none;
    margin: 0;

    border-radius: 3px;
    text-indent: 0.01px;

    text-overflow: '';
    -webkit-appearance: button;

    cursor: pointer;

    &[disabled] {
      cursor: not-allowed;
      background: @gray-700;
      color: @gray-500;
    }
  }

  &::before, &::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }
}

button {
  background: @gray-700;
  transition: background-color 0.1s ease-in-out;

  color: #fff;
  margin: 5px;
  padding: 5px 10px;

  font-weight: 500;

  border: none;
  border-radius: 3px;

  cursor: pointer;

  &:hover {
    background: @gray-800;
    transition: background-color 0.1s ease-in-out;
  }
}

#container {
  width: calc(100vw - @navbar-width);
  height: 100vh;

  .container {
    display: block;

    &:not(.selected) {
      display: none;
    }

    .flying_box {
      position: absolute;
      z-index: 7;

      top: var(--t, unset);
      right: var(--r, unset);
      left: var(--l, unset);
      bottom: var(--b, unset);

      max-height: 100%;
      height: var(--h, unset);

      width: var(--w, 300px);
      background: @slate-900;
      padding: 10px 10px 5px 10px;
      border-radius: 7px;

      border: 1px solid @slate-500;

      .head {
        user-select: none;

        cursor: move;

        display: flex;
        flex-direction: row;
        align-items: center;

        border-bottom: @gray-600 1px solid;

        p {
          @m: 10px;

          margin: @m 0 @m 10px;
          font-weight: 600;
        }

        svg {
          transform: rotate(0deg);
        }
      }

      .body {
        margin-top: 5px;

        height: calc(100% - 2em - 20px);
        overflow-y: scroll;
      }

      &:not(.open) {
        .head {
          border-color: transparent;

          svg {
            transform: rotate(180deg);
          }
        }

        .body {
          display: none;
        }
      }
    }

    .hover {
      position: absolute;
      z-index: 8;

      top: var(--t, unset);
      right: var(--r, unset);
      left: var(--l, unset);
      bottom: var(--b, unset);

      min-width: 10px;
      min-height: 10px;

      padding: 5px;
      background: @gray-900;

      border-radius: 7px;
      
      .head {
        display: flex;
        flex-direction: row;
        align-items: center;

        svg {
          height: 1.5em;
          width: auto;
        }

        p {
          margin: 10px 5px;
          font-weight: 500;
        }

        border-bottom: 1px solid @gray-500;
      }

      .body {
        margin: 3px;

        display: flex;
        flex-direction: column;
      }
    }
  }
}